<!DOCTYPE html>
<html lang="en" class="no-js">
      
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Vote | Prost Awards</title>
	<link href="https://fonts.googleapis.com/css?family=Heebo:400,900|Oxygen:900" rel="stylesheet">
	<link rel="stylesheet" href="dist/css/style.css">
	<link rel="stylesheet" href="dist/css/core.css">
	<script src="https://unpkg.com/scrollreveal@4.0.5/dist/scrollreveal.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
	<script src="dist/js/angular.min.js"></script>
	<script src="dist/js/index.js"></script>
	<script src="https://www.google.com/recaptcha/api.js" async defer></script> 
	<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-66299251-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-66299251-1');
</script>

	<style>
		.error {
			color: red;
		}
	</style>
</head>

<body ng-app="myApp" class="is-boxed has-animations" ng-controller="homeController">
	<div class="body-wrap boxed-container" ng-if="input.page==1">
		<header class="site-header text-light">
			<div class="container">
				<div class="site-header-inner">
					<div class="brand header-brand">
						<h1 class="m-0">
							<a href="index.html">
								<img class="header-logo-image" src="dist/images/stred.png" alt="Logo" width="152">
							</a>
						</h1>
					</div>
					<!-- <div class="menu"> -->
					<!-- <ul> -->
					<!-- <li><a href="#">Join the Crew</a></li> -->
					<!-- <li><a href="#">underGrad Summit 22</a></li> -->
					<!-- <li><a href="#">Contact Us</a></li> -->
					<!-- </ul> -->
					<!-- </div> -->
				</div>
			</div>
		</header>

		<main>
			<section class="hero text-light">


				<div class="container-lg">
					<div class="hero-inner">
						<div class="hero-copy">
							<div class="text-center">
								<h1 class="hero-title mb-5">Voting has been Opened</h1>
								 <h3>Participate Now!</h3>
								<p>Show off your spirit by voting for your faculty today. Don't miss this chance to support your beloved Faculty!</p> 
							</div>
							<div class="col-xl">
								<div class="card">
									<div class="card-header d-flex justify-content-between align-items-center">
										<div class="text-left col-xl">
											<h4 class="mb-2">Contact details</h4>
											<small class="text-muted mt-1">Please fill your information to
												verify.</small>
											<hr class="mt-2">
										</div>

									</div>
									<div class="card-body">

										<div class="mb-3">
											<label class="form-label" for="basic-default-fullname">Name</label>
											<input type="text" class="form-control" id="basic-default-fullname"
												ng-model="input.Name" placeholder="Enter Your Name">
											<span class="error">{{errorName}}</span>
										</div>
										<div class="mb-3">
											<label class="form-label" for="basic-default-phone">Phone Number</label>
											<input type="text" maxlength="10" class="form-control phone-mask"
												ng-model="input.Phone" placeholder="Enter your Mobile Number">
											<span class="error">{{errorPhone}}</span>
										</div>
										<div class="mb-3">
											<label class="form-label" for="basic-default-email">Email</label>
											<input type="text" class="form-control" placeholder="Enter Your Email"
												ng-model="input.Email" aria-label="john.doe"
												aria-describedby="basic-default-email2">
											<span class="error">{{errorEmail}}</span>
										</div>
										<div class="mb-3">
											<label class="form-label" for="basic-default-company">College
												Name</label>
											<input type="text" class="form-control" ng-model="input.CollegeName"
												placeholder="Enter your College Name">
											<span class="error">{{errorCollegeName}}</span>
										</div>
										<div class="mb-3">
											<label class="form-label" for="basic-default-company">Department
												Name</label>
											<input type="text" class="form-control" ng-model="input.DepartmentName"
												placeholder="Enter Your Stream/Department">
											<span class="error">{{errorDepartmentName}}</span>
										</div>

										<div class="mb-3">
											<label class="form-label" for="basic-default-company">Year of Passing Out
											</label>
											<select ng-model="input.StudentYear" class="form-select">
												<option>2024</option>
												<option>2025</option>
												<option>2026</option>
												<option>2027</option>
												<option>2028</option>
											</select>
											<span class="error">{{errorStudentYear}}</span>
										</div>

									</div>
								</div>
								<!-- <div class="g-recaptcha" data-sitekey="6Lc4u6MkAAAAAEbgHvGeHioIbFHpLh1Tmj2V0iRk"></div> -->
								<div class="mt-5 mb-3 text-center">
									<button ng-click="onSubmitContact()" class="btn btn-primary">Next</button>
								</div>
								<div class="cta-header tcBlog text-center">
									<h2 class="section-title mt-0">Terms & Conditions for Voting</h2>
									<p class="section-paragraph">Winner is selected based on Voting and Jury</p>
									<p class="section-paragraph">Nomination of each categories are finalized based on
										the applications filled by the student or college.</p>
									<p class="section-paragraph">Disclaimer: The organization doesn’t hold any partial
										preference towards any category.</p>
									<p class="section-paragraph">The jury debates and arrives at nominees and winners of
										all the categories considering all the technicalities.</p>
									<p class="section-paragraph"><a href="#">info@studenttribe.in</a></p>
								</div>

							</div>
						</div>

					</div>
				</div>
			</section>


		</main>

	</div>
	<div class="body-wrap boxed-container" ng-if="input.page==2">
		<header class="site-header text-light">
			<div class="container">
				<div class="site-header-inner">
					<div class="brand header-brand">
						<h1 class="m-0">
							<a href="index.html">
								<img class="header-logo-image" src="dist/images/stred.png" alt="Logo" width="152">
							</a>
						</h1>
					</div>
				</div>
			</div>
		</header>

		<main>
			<section class="hero text-light">


				<div class="container-lg">
					<div class="hero-inner">
						<div class="hero-copy">
							<div class="text-center">
								<h1 class="hero-title mb-5">Vote For Your Faculty</h1>
								<!-- <h3>Post Your Requirements</h3> -->
								<!-- <p>Please fill the form below to receive a quote for workspace. Please add all the details required.</p> -->
							</div>
							<div class="col-xl">
								<div class="card">
									<div class="card-header d-flex justify-content-between align-items-center">
										<div class="text-left col-xl">
											<h4 class="mb-3">Select Your Faculty Below</h4>
											<!-- <small class="text-muted mt-1">Please fill your information to verify.</small> -->
											<hr class="mt-2">
										</div>

									</div>
									<div class="card-body">

										<div class="mb-3">
											<label class="form-label" for="basic-default-fullname">Mechanical Department</label>
											<select ng-model="input.mechanical" class="form-select">
												<option value="">Default select</option>
												<option>Mr. Santhosh, SR University</option>
												<option>Mr. R Surendra Rao(HOD), KasiReddy Narayan Reddy College</option>
												<option>Mr. P.Lava Kumar, CVR College of engineering</option>
												<option>Mr. Sateesh Kumar Reddy, Velgapudi Ramakrishna Siddharth Engineering College</option>
												<option>Mr. Rajeswar goud, Siddhartha Institute of engineering and technology </option>
												<option>Mr. S.L.Narsimha Reddy, Siddhartha Institute of engineering and technology 
												</option>
												<option>Ms. Vasantha, CMRCET</option>
												<option>Ms. Thejasree Gandhe, CMRCET</option>
												<option>DR.A.MALLIKARJUN , CMRCET</option>
												<option>Mr. Sammaiah, SR University</option>
											</select>
										</div>
										<div class="mb-3">
											<label class="form-label" for="basic-default-phone">ECE Department</label>
											<select ng-model="input.ece" class="form-select">
												<option value="">Default select</option>
												<option>Ms. R. Leelavathi, Vasavi college of engineering</option>
												<option>Mr. Subhash, MRCET</option>
												<option>Dr.S.S.Saravana kumar, Srinivasa College-AP</option>
												<option>Mr. Ramesh Babu, MRCET</option>
												<option>Mr. Sydaiah, Sri Indu College
													</option>
													<option>Dr M.Lakshmi, VJIT, Hyderabad </option>
													<option>Mr. Rambabu, SNIST, Hyderabad </option>
													<option>Ms. M. Pavani, SREYAS, Hyderabad </option>
													<option>Mr. Y.Raju, Govt.Polytechnic, Siddipet</option>
													<option>Mr. Chaitanya, MREC, Hyderabad</option>
													<option>Ms. Divya Devagiri, CMRCET, Hyderabad</option>
													<option>Dr A.Rajani, JNTUH, Hyderabad</option>
											</select>
										</div>
										<div class="mb-3">
											<label class="form-label" for="basic-default-email">EEE Department</label>
											<div class="input-group input-group-merge">
												<select ng-model="input.eee" class="form-select">
													<option value="">Default select</option>
													<option>Mr. Ravi varma, NIT- Jalandar</option>
													<option>Mr. Mohd. Waseem sir, JN Govt College</option>
													<option>Mr. K srinivas rao, Anurag University</option>
													<option>Dr.KSCG.Mouryan, GNI</option>
													<option>Dr.Lakshmi, SPEC</option>
														<option>Mr. Chandra Shekhar, MGIT Hyderabad</option>
														<option>Mr. Sydaiah, SRI INDU, Hyderbad</option>
														<option>Dr.Phaneendra Babu Bobba, GRIET Hyderbad</option>
														<option>Ms. Kadari Mamatha, JBIET, Hyderbad</option>
												</select>
												<!-- <span class="input-group-text" id="basic-default-email2">@example.com</span> -->
											</div>
											<!-- <div class="form-text"> You can use letters, numbers &amp; periods </div> -->
										</div>
										<div class="mb-3">
											<label class="form-label" for="basic-default-company">CSE Department</label>
											<select ng-model="input.cse" class="form-select">
												<option value="">Default select</option>
												<option>Mr. pranay, Nxtwave</option>
												<option>Ms. Pooja, SIET</option>
												<option>Dr. P. Tirupathi, JNTUHCEM
													</option>
												<option>Dr.K.Sandeep, HITAM</option>
												<option>Dr.B.Santosh kumar, G pulla reddy</option>
												<option>Dr.M.Santosh Kumar Goud, MallaReddy University </option>
												<option>Ms. Mounika, Bhasker Engineering College</option>
												<option>Dr. Muniraju Naidu vadlamudi, KLU Hyderabad</option>
												<option>Ms. Rupanusha, HITS</option>
												<option>Ms. Samthasree, NMREC</option>
												<option>Mr. P.S Verma, MGIT</option>
												<option>Mr. Suresh Lokhande, Osmania University</option>
												<option>Ms. Preethi Jeevan, SNIST</option>
												<option>Ms. Ramu Gandikota, NRCM</option>
											</select>
										</div>
										<div class="mb-3">
											<label class="form-label" for="basic-default-company">CSE-AIDS Department</label>
											<select ng-model="input.cseaids" class="form-select">
												<option value="">Default select</option>
												<option>Ms. Madhavi Latha, SREYAS, Hyderabad</option>
												<option>Mr. Vasantha kumar, NBKR-AP</option>
												<option>Mr. Srinivas, TKREM</option>
												<option>Mr. Bijay Kumar Sethi, Vardhaman College</option>
												<option>Ms. Narmada, Samskruthi College</option>
												<option>Mr. Vishnu Vardhan, St.Martin's</option>
												<option>Ms. Lavanya, GCTC</option>
												<option>Mr. Mayank sharma, St.Martin's</option>
												<option>Mrs. Fouziya, VMTW</option>
												<option>Mr. Nuthan kumar reddy, CVRH</option>
												<option>Ms. Padma Joshi, SREYAS, Hyderabad</option>
											</select>
										</div>
										<div class="mb-3">
											<label class="form-label" for="basic-default-company">CSE-AIML Department</label>
											<select ng-model="input.cseaiml" class="form-select">
												<option value="">Default select</option>
												<option>Ms. Manjula, VMTW</option>
												<option>Mr. Suresh, St. Mary's</option>
												<option>Mr. Sathish Mankala, CMRIT</option>
												<option>Mr. SURYANARAYANA, MREC</option>
												<option>MR. Arun Sampaul Thompson, JBIET</option>
												<option>Ms. Divya Devagiri, CMRCET</option>
												<option>Ms. Rajini Parimala, GRIET</option>
												<option>Mr. Rama Krishna, CVRH</option>
												<option>Dr .N.subhadra, GCTC</option>
												<option>Mr.T.V.Rajinikanth, SNIST</option>
											</select>
										</div>
										<div class="mb-3">
											<label class="form-label" for="basic-default-company">Civil Department</label>
											<select ng-model="input.civil" class="form-select">
												<option value="">Default select</option>
												<option>Dr.R.Lakshmi, SPEC Hyderabad</option>
												<option>Dr. G. Sree Laxmi Devi , NMREC</option>
												<option>Mr. Sudhakar, SIET</option>
												<option>Mr. A. Mallikarjun, CMRCET</option>
												<option>Mr. Aditya , JBIET</option>
											</select>
										</div>
										<div class="mb-3">
											<label class="form-label" for="basic-default-company">MBA Department</label>
											<select ng-model="input.mba" class="form-select">
												<option value="">Default select</option>
												<option>Dr. Bhavani Marka, JNTUH</option>
												<option>Ms. Annapurna, TKREM</option>
												<option>Mr. Surya narayan, TKREM</option>
												<option>Mr. srisailam, TKREM</option>
												<option>Mr. chandra shekar reddy, TKREM</option>
											</select>
										</div>
										<div class="mb-3">
											<label class="form-label" for="basic-default-company">BA Department</label>
											<select ng-model="input.ba" class="form-select">
												<option value="">Default select</option>
												<option>Ms. Kanaka yeldutti, Bhavans College</option>
												<option>Mr. Vijaykumar, GDC Medak</option>
												<option>Ms. Rajeshwari natrajan, Loyala Academy</option>
												<option>Ms. Hari Priya, Avinash</option>
												<option>Ms. Akhila, Avinash</option>
												<option>Ms. Madhuri, Avinash</option>
											</select>
										</div>
										<div class="mb-3">
											<label class="form-label" for="basic-default-company">BBA Department</label>
											<select ng-model="input.bba" class="form-select">
												<option value="">Default select</option>
												<option>Ms. Priyanka, Pragathi MahaVidhalayala</option>
												<option>Ms. Sandya, Badruka College</option>
												<option>Mr. Prabhas, Dhruva Degree College</option>
												<option>Mr. Sudheer, Avinash</option>
												<option>Prof.V.Shekhar, JNTUH</option>
												<option>Mr. Naveen, JNTUH</option>
												<option>Ms. Usha Rani, Avinash</option>
												<option>Ms. Chandini, Badruka College</option>
											</select>
										</div>
										<div class="mb-3">
											<label class="form-label" for="basic-default-company">TPO</label>
											<select ng-model="input.tpo" class="form-select">
												<option value="">Default select</option>
												<option>Mr. Mayank sharma, St. Mary engineering</option>
												<option>Mr. Bhagat, SIET</option>
												<option>Mr. Bharth, MREM</option>
												<option>Mr. Venkatesh, SRI INDU, Hyderabad</option>
												<option>Mr. Kiran Kuncham, Bennet University</option>
												<option>Mr. Srikanth, ICFAI</option>
												<option>Ms. Neelam Singh, Samskruthi College</option>
												<option>Mr. Vinay Chopra, GNI, Hyderabad</option>
												<option>Mr. Mary thomas, St. Francis</option>
												<option>Mr. Chandrashekar, Villa Marie</option>
												<option>Ms. Shikha duggal, VJIT Hyderabad</option>
											</select>
										</div>
										<div class="mb-3">
											<label class="form-label" for="basic-default-company">B.com Department</label>
											<select ng-model="input.bcom" class="form-select">
												<option value="">Default select</option>
												<option>Mr. Madhavi Latha, Avinash College</option>
												<option>Ms. Swapna, Holy mary degree</option>
												<option>Mr. Madhavi Latha, Rishi degree college</option>
												<option>Mr. Kumaraswamy, Badrukha College</option>
												<option>Ms. Chandarakala, Govt. Degree College Uppal</option>
												<option>Ms. Vaishnavi, Siva Shivani Degree College</option>
												<option>Ms. Saraswati Kondoju, Avinash College</option>
												<option>Ms. Shruthi kayal, Badrukha College</option>
											</select>
											<span class="error">{{errorBest}}</span>
										</div>


									</div>
								</div>
								<div class="mt-5 mb-3 text-center">
									<button class="btn btn-primary" ng-click="onSubmitVote()">Submit</button>
								
								</div>
								<div class="cta-header tcBlog text-center">
									<h2 class="section-title mt-0">Terms & Conditions for Voting</h2>
									<p class="section-paragraph">Winner is selected based on Voting and Jury</p>
									<p class="section-paragraph">Nomination of each categories are finalized based on
										the applications filled by the student or college.</p>
									<p class="section-paragraph">Disclaimer: The organization doesn’t hold any partial
										preference towards any category.</p>
									<p class="section-paragraph">The jury debates and arrives at nominees and winners of
										all the categories considering all the technicalities.</p>
									<p class="section-paragraph"><a href="#">info@stumagz.com</a></p>
								</div>

							</div>
						</div>

					</div>
				</div>
			</section>


		</main>

	</div>
	<div class="body-wrap boxed-container" ng-if="input.page==3">
		<header class="site-header text-light">
			<div class="container">
				<div class="site-header-inner">
					<div class="brand header-brand">
						<h1 class="m-0">
							<a href="index.html">
								<img class="header-logo-image" src="dist/images/stred.png" alt="Logo" width="152">
							</a>
						</h1>
					</div>
				</div>
			</div>
		</header>

		<main>
			<section class="hero text-light">


				<div class="container-lg">
					<div class="hero-inner">
						<div class="hero-copy">
							<div class="text-center">
								<h1 class="hero-title mb-5">OTP Details</h1>
							</div>
							<div class="col-xl">
								<div class="card">
									<div class="card-header d-flex justify-content-between align-items-center">
										<div class="text-center col-xl">
											<h4 class="mb-3">Enter Your OTP</h4>
											<hr class="mt-2">
										</div>

									</div>
									<div class="card-body">

										<div class="mb-3">
											<label class="form-label" for="basic-default-fullname">Enter Your
												OTP</label>
											<input type="text" ng-model="input.OTP" class="form-control" placeholder="">
											<span class="error">{{error}}</span>
										</div>


									</div>
								</div>
								<div class="mt-5 mb-3 text-center">
									<button class="btn btn-primary" ng-click="onSubmitOtp()">Verify</button>
									<button class="btn btn-primary" ng-show="isResendEnable"
									ng-click="onResendOTP()">Resend OTP</button>
								</div>


							</div>
						</div>

					</div>
				</div>
			</section>


		</main>

	</div>
	<div class="body-wrap boxed-container" ng-if="input.page==4">
		<header class="site-header text-light">
			<div class="container">
				<div class="site-header-inner">
					<div class="brand header-brand">
						<h1 class="m-0">
							<a href="index.html">
								<img class="header-logo-image" src="dist/images/stred.png" alt="Logo" width="152">
							</a>
						</h1>
					</div>

				</div>
			</div>
		</header>

		<main>
			<section class="hero text-light">


				<div class="container-lg">
					<div class="hero-inner">
						<div class="hero-copy">
							<div class="text-center">
								<h1 class="hero-title mb-5">Thank You</h1>
							</div>
							<div class="col-xl">
								<div class="card">

									<div class="card-body">
										<form>
											<div class="text-center col-xl">
												<h4 class="mb-3 pt-5 pb-5">THANKS FOR VOTING</h4>

											</div>


										</form>
									</div>
								</div>
								<!-- <div class="mt-5 mb-3 text-center"> -->
								<!-- <button type="submit" class="btn btn-primary">Verify</button> -->
								<!-- </div> -->


							</div>
						</div>

					</div>
				</div>
			</section>


		</main>


	</div>
	<script src="dist/js/main.min.js"></script>
</body>

</html>